body{
    margin: 0;
}


input[type="text"], input[type="password"]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(168, 156, 156);
    box-sizing: border-box; 
}

.submit-button
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgb(4, 229, 4);;
    box-sizing: border-box;
    text-align: center;
}
.submit-button{
    opacity: 0.8;
}
.container{
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
	background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

.container-1{
    position: absolute;
    width:100%;
    height:100%;
    max-height:100%;
    background: rgba(67, 224, 36, 0.815);
}

.form{
    position: relative;
    width:30%;
    height:auto;
    background: white;
    padding:50px;
    margin:0 auto;
    top:50%;
    transform: translateY(-50%);
    -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.75);
}

input[type="text"]{
    border:0px;
    background: rgba(145, 145, 145, 0.137);
}

.not-reg, .cre-acc{
    float:right;
    font-size:14px;
}

.cre-acc{
    margin-left:10px;
    text-decoration: none;
    color:green;
}

.not-reg{
    color:grey;
}